.signin-section {
  min-height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;

  .container {
    width: 28rem;
    max-width: 100%;
  }
}

.signin-form-wrapper {
  padding: 3.5rem;
  border-radius: 0.3rem;
  background-color: var(--mantine-color-white);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.6rem;

  .err-msg {
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 600;
    color: red;
  }

  .submit-btn {
    margin-top: var(--mantine-spacing-2xl);
  }

  footer {
    margin-top: var(--mantine-spacing-md);
    text-align: center;
    font-size: var(--mantine-font-size-sm);

    .signup-link {
      text-decoration: underline;
    }
  }
}
